body{
    /* background-color: #fff5b6; */
    background-color: #fffef8;
    color: #000a49;
    
}

.navbar {
    background-color: #ffea6c;
}

.first-row {
    background-color: #89ffcc;
    /* box-shadow: 0.5px 0.5px 0.5px 0.5px; */
}

.second-row {
    background-color: #ffea6c ;
}

.third-row {
    background-color: #ff9a55 ;
}

a {
    color: #000a49;
}

.donate-again {
    text-decoration: none;
}

.card {
    overflow: hidden;
    
}
#donation-title {
    text-shadow: 2px 2px 2px #89ffcc;
}
/* #hunger-title {
    text-shadow: 2px 2px 2px #ff9a55;
} */

/* .bg-hero {
    background-color: #ffea6c;
} */
/* Ran out of time to work on this */
/* .tip {
    background-image: url("images/tiptap_12x18-3DV_Counter-DisplayMU-Give-EN_2974ffac-43b9-4cd8-b73a-1e225931b896_1024x1024@2x.webp");
    position: absolute;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */