body{
    /* background-color: #fff5b6; */
    background-color: #fffef8;
    color: #000a49;
    
}

.navbar {
    background-color: #ffea6c;
}

.first-row {
    background-color: #89ffcc;
}

.second-row {
    background-color: #ffea6c ;
}

.third-row {
    background-color: #ff9a55 ;
}

a {
    color: #000a49;
}

.donate-again {
    text-decoration: none;
}

.card {
    overflow: hidden;
}

